body {
  background: #ECB0C1;
}

.test {
  width: 870px;
  height: 370px;
  margin: 0% auto;
	
  background: url('https://dl.dropboxusercontent.com/s/e2z7pzp9dd54cbr/S__13664262.png') left center;
  
}



@media screen and (max-width:480px) {
	p {
		width: 100%;
		margin: 0px 0 10px 0;
	}
 
	main {
		width: 100%;
	}
 
	.imgarea {
		width: 100%;
	}
 
	aside {
		width: 100%;
		margin: 30px 0 0 0;
	}
}
